body{
    background-image: linear-gradient(315deg, #B3CEE5 0%, #91a3b0 74%);
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    background-image: linear-gradient(315deg, #ffa69e 0%, #5d4954 74%);
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(6, auto);
    width: 20vw;
    height: 20vw;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.container button{
    background-color: rgba(255, 255, 255, 0.274);
    border: 1px solid rgba(240, 240, 240, 0.521);
}

.container button:hover{
    background-color: lightblue;
}

.display{
    box-shadow: inset 2px 2px 2px gray;
    grid-column: span 4;
    padding: 2px 4px;
    text-align: right;
    font-size: 1.3rem;
}

.equal{
    grid-row: 5/7;
    grid-column: 4/5;
}

