body{
    background-image: linear-gradient(-315deg, #dde5ed 0%, #91a3b0 74%);
    height: 100vh;
    display: flex;
    justify-content: center;
}

h1{
    font-family: "Delius Swash Caps", cursive;
}
.container {
    background-image: linear-gradient(315deg, #ffa69e 0%, #5d4954 74%);
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(6, auto);
    width: 20vw;
    min-width: 200px;
    height: 20vw;
    min-height: 250px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10vw;
}

.number{
    background-color: rgba(139, 139, 139, 0.348);
}
.container button{
    background-color: rgba(255, 255, 255, 0.274);
    border: 1px solid rgba(240, 240, 240, 0.521);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.container button:hover{
    background-color: #5c5c5c33;
}

.display{
    grid-column: span 4;
    padding: 4px;
    text-align: right;
    font-size: 1.3rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    height: 20px;
}

.equal{
    grid-row: 5/7;
    grid-column: 4/5;
}

