body{
    background-color: lightcoral;
}

:root {
    --content: '';
    --color: rosybrown;
}

.hovered::before{
    content:var(--content);
    display: block;
    margin: -2px;
    font-size: 14px;
}

.hovered{

    background-color:var(--color);
}

input[name='content'] {
    display: none;
}

.container {
    width: fit-content;
    background-color: azure;
}

#reset, div:has(> input[name='content']){
    border: 1px solid goldenrod;
    background-color: rgb(169, 197, 248);
    border-radius: 5px;
}

#reset:hover, div:has(> input[name='content']):hover{
    background-color: gold;
    color: white;
}


.row {
    display: flex;
    width: fit-content;
}

.row div {
    height: 20px;
    width: 20px;
    border: 0.5px rgb(189, 185, 185) solid;
}

#grid-size{
    border: 1px goldenrod solid;
    border-radius: 5px;
}

#grid-size:hover{
    background-color: white;
}