body{
    background: linear-gradient(90deg, hsla(211, 66%, 87%, 1) 0%, hsla(348, 67%, 88%, 1) 50%, hsla(272, 26%, 72%, 1) 100%);

}

:root {
    --content: '';
    --color: '';
}

h1{
    font-family: "Kablammo", system-ui;
}

.hovered::before{
    content:var(--content);
    display: block;
    margin: -2px;
    font-size: 14px;
}

.hovered{
    background-color:var(--color);
}

input[name='content'] {
    display: none;
}

.content label {
    display: block;
    width: 100%;
}

.content {
    box-shadow: 0 0 10px white;
}

.container {
    width: fit-content;
    background-color: #ffffffba;
    box-shadow: 0 0 20px #7d7d7d80;
    cursor: url("cursor.png"), auto;
}


#reset, div:has(> input[name='content']){
    border: 1px solid goldenrod;
    background: linear-gradient(90deg, hsla(22, 100%, 78%, 1) 0%, hsla(2, 78%, 62%, 1) 100%);
    border-radius: 5px;
    color: white;
}

#reset{
    background: linear-gradient(90deg, hsla(202, 71%, 27%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);
}

#reset:hover, div:has(> input[name='content']):hover{
    color: white;
    scale: 1.05;
}


.row {
    display: flex;
    width: fit-content;
    flex-direction: column;
}

.row div {
    height: 20px;
    width: 20px;
    border: 0.5px rgba(189, 185, 185, 0.64) solid;
}

#grid-size{
    border: 1px goldenrod solid;
    border-radius: 5px;
    background-color: white;
}


#slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #fdfdfd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    background: #b140ce;
    box-shadow: 2px 2px 2px rgb(116, 96, 115);
    cursor: pointer;
  }
  
#slider::-moz-range-thumb {
    width: 20px;
    height: 25px;
    border-radius: 10px;
    background: #04AA6D;
    cursor: pointer;
}