body{
    background-color: lightcoral;
}

:root {
    --content: '';
    --color: '';
}

h1{
    font-family: "Kablammo", system-ui;
}

.hovered::before{
    content:var(--content);
    display: block;
    margin: -2px;
    font-size: 14px;
}

.hovered{
    background-color:var(--color);
}

input[name='content'] {
    display: none;
}

.content label {
    display: block;
    width: 100%;
}

.content {
    box-shadow: 0 0 10px white;
}

.container {
    width: fit-content;
    background-color: azure;
    box-shadow: 0 0 20px #7d7d7d80;
    cursor: url("cursor.png"), auto;
}

#reset, div:has(> input[name='content']){
    border: 1px solid goldenrod;
    background-color: rgb(169, 197, 248);
    border-radius: 5px;
}

#reset:hover, div:has(> input[name='content']):hover{
    background-color: gold;
    color: white;
}


.row {
    display: flex;
    width: fit-content;
    flex-direction: column;
}

.row div {
    height: 20px;
    width: 20px;
    border: 0.5px rgba(189, 185, 185, 0.64) solid;
}

#grid-size{
    border: 1px goldenrod solid;
    border-radius: 5px;
    background-color: white;
}

#grid-size:hover{
    background-color: rgb(123, 242, 242);
}

#slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #7a7a7a;
    box-shadow: inset 2px 2px 4px rgb(65, 65, 65);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 25px;
    border-radius: 10px;
    background: #04AA6D;
    cursor: pointer;
  }
  
#slider::-moz-range-thumb {
    width: 20px;
    height: 25px;
    border-radius: 10px;
    background: #04AA6D;
    cursor: pointer;
}